@charset "utf-8";

body {
  font-family: 'Lato', 'Raleway', sans-serif;
}

.inner {
  width: 1100px;
  margin:0 auto;
}

/*
@media (max-width: 767px) {
.inner {
  width: 767px;
  }
}*/

/* header内のアイコンの上下中央揃えはline-heightが楽。innerにpaddingとっても余白できない。ボタンとinnerは同一平面状にないのか。headerとinnerにpaddingとるとできる。 */

.header {
  width: 100%;
  position: fixed;
  background-color: #fff;
  z-index: 1;
}

.header-inner {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

/*
@media (max-width: 767px) {
.header-inner {
  line-height: 95px;
  }
}*/

.header-bolt-icon {
  color: #c0c0c0;
  vertical-align: middle;
}
/* boltマークの色 */

.contact-button {
  background-color: #74cfae;
  color: #fff;
  font-size: 12px;
  padding: 14px 12px;
  transition: all 0.3s;
  text-decoration: none;
  }

  /* sp用 */
.sp-button {
  display: none;
}

/*
@media (max-width: 767px) {
  .contact-button {
    display: none;
    }

  .sp-button {
    border: solid 1px #ddd;
    color: #ddd;
    display: inline-block;
    padding: 10px;
    border-radius: 4px;
    width: 36px; 
    line-height: 34px;
    text-align: center;
    margin-left: 450px;
    }  
  }*/
  
  

.contact-button:hover, .email-button:hover {
  color: #333;
}

.main {
  width:100%;
  padding-top: 78px; 
}

.h2 {
  font-size: 24px;
  font-family: 'Raleway';
}

.sentence {
  font-size: 20px;
  text-align: center;
  line-height: 30px;
}

/* global theme */

.global-theme {
  background-color: #f2f2f2;
  padding: 250px 0;
  text-align: center;
}

.global-theme-text {
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
  margin-bottom: 20px;
  font-family: 'Raleway';
}
/* font種類は？ */

.global-theme-text-sub {
  font-size: 30px;
  color: #c0c0c0;
  font-family: 'Raleway';
}

/* whatwecando */

.about-section {
  background-color: #74cfae;
  padding-top: 50px;
} 

.about-container {
  display: flex;
  justify-content: space-between;
}

/* space-betweenが効かない */

.about-inner-h2 {
  color: #fff;
  margin: 25px 0 35px 0;
}

.about-inner-sentence {
  color: #fff;
  word-break: keep-all;
}

.about-inner-h2-sentence-container {
  text-align: center;
  width: 62%;
}

/* ourlatestwork */

.work-article {
  background-color: #f2f2f2;
  padding: 60px 0 70px 0;
}

.work-img {
  margin: 0 0 80px 100px;
  opacity: 0.7;
  transition: all 0.3s;
}

.work-img:hover {
  opacity: 1;
}

.work-img:nth-child(3n+1) {
  margin-left: 0; 
}

.work-img:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.work-h2 {
  color: #4e4e4e;
  margin-bottom: 40px;
}

.work-h2-img-inner {
  text-align: center;
}

.work-img-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: row;
  align-items: flex-start;
  margin-bottom: 90px;
}

.work-inner-button-sentence-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.work-sentence {
  width: 52%; 
}

.email-button {
  margin-left: 90px; 
  background-color: #74cfae;
  color: #fff;
  font-size: 12px;
  padding: 14px 20px;
  box-sizing: border-box;
  text-decoration: none;
}

/* ourskils */

.skils-section {
  background-color: #4e4e4e;
  padding: 70px 0 100px 0;
}

.h2-circle-container {
  text-align: center;
}

.skils-inner-h2 {
  color: #fff;
  margin-bottom: 70px;
}

.circle-container {
  display: flex;
  justify-content: center; 
  align-items: flex-start;
}

.skils-container {
  margin-left: 180px;
}

.skils-container:first-child {
  margin-left: 0;
}

.skils-img {
  margin-left:180px;
}

.skils-img-name {
  font-size: 16px;
  color: #fff;
}
/* before/afterで名前表示されない */
.skils-img:first-child {
  margin-left:0; 
}

/* nav */

.sns-inner {
  background-color: #f2f2f2;
  padding: 200px 0; 
}

.sns-main-container {
  display: flex; 
  justify-content: center;
}
 .sns-icon { 
  color: #74cfae;
  transition: 0.3s;
  width: 185px; 
  padding: 30px 0;
  text-align: center;
  box-sizing: border-box;
} 

.sns-icon:hover {
  background-color: #fff;
}

.footer {
  background-color: #74cfae;
  padding: 20px 0 25px 0;
  color: #fff;
  font-size: 8px;
  text-align: right;
}

.footer-sentence {
}
/*  */